@import '@/assets/scss/_main';

.main {
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: $blue;
}

.content-right {
    width: calc(100% - 220px);
    height: 100vh;
}

.navbar {
    width: 100%;
    padding: 15px;

}


.pages {
    width: 100%;
    height: auto;
}